/*Configuring default settings for webpage*/
*{
    margin:0;
    padding:0;

}

/*adding fonts*/
@font-face {
    font-family: heading;
    src: url(Fonts/FjallaOne-Regular.ttf);
}
@font-face {
    font-family: para;
    src: url(Fonts/Jura-Light.ttf);
}
@font-face{
    font-family: footer_text;
    src:url(Fonts/OpenSans-Regular.ttf)
}

/*setting fonts*/
h1{
    font-family: heading;
    font-size:30px;
    color:rgba(255, 255, 255, 0.825);
    margin-left:30px;
}
p{
    font-family: footer_text;
    font-size:18px;
    color:black;
    margin-left:40px;
}

/*configuring of navigation panel*/
.nav{
    width:100%;
    height:125px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:rgba(0,100,0,1);
    border-bottom:3px solid rgb(44, 43, 43);

}

/*gives colors to the navigation except the homepage*/
.nav-color{
    background: lime;
}
.nav_logo{
    width:200px;
    height:75px;
    margin-left:15px;
    cursor:pointer;
}

.nav_content ul{
    display:flex;
    list-style-type:none;
    position:relative;
}
.nav_content a{
    position:relative;
    color:white;
    right:10px;
    text-decoration:none;
    padding:5px;
    margin:5px;
    font-family: para;
    font-size:18px;
    text-transform: uppercase;
}

.nav_content ul li a::after{
    content:'';
    height:3px;
    width:0;
    background-color: aqua;
    position: absolute;
    left:0;
    bottom:-5px;
    transition:0.25s;
}
.nav_content ul li a:hover:after{
    width:100%;
}

/*Adding the dropdown menu(pain)*/
.drop_trigger span{
    font-family: para;
    text-transform:uppercase;
    color:white;
}
.drop_content a{
    text-decoration:none;
    color:white;
    display:block;
    padding:10px;
    font-size: 15px;
    position: relative;
    left:2px;
    margin-left:0;
}
.drop_content{
    min-width:100%;
    display:none;
    position:absolute;
    top:40px;
    left:0px;
    z-index:1;
    background: rgb(40, 39, 39);
    box-shadow:0 8px 16px 0;
    
}
.drop_trigger{
    position: relative;
    top:-10px;
    left:-10px;
    cursor:pointer;
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.drop_trigger:hover .drop_content{
    display:block;
}
.drop_content a:hover{
    background: rgba(255,255,255,.4);
    
}
.drop_trigger:hover{
    background: rgba(255, 255, 255,.4);
}
.small_nav{
    display: none;
    background: rgb(0, 228, 0);
}

/*Styling for smaller navigation when in samller resolution*/
@media only screen and (max-width:750px){
    .nav{
        display: flex;
        justify-content: center;
    }
    .nav_content{
        display: none;
    }
    .small_nav{
        width:100%;
        display: block;        
    }
    .small_nav ul{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
        padding:0;
        margin:0;
        align-content: center;
        text-align: center;
    }
    .small_nav li{
        border: 1px solid black;
        
        padding:auto;
        align-content: center;
        margin:0;
    
    }
    .small_nav a{
        max-height:100%;
        align-content: center;
        padding:10px;
        margin: 0;
        
    }
    .nav{
        height:auto;
    }
    .small_nav a{
        text-decoration: none;
        color:white;
        font-family: para;
        display: block;
        text-transform:uppercase;
        font-size: small;
    }
    .small_nav li:hover{
        background: rgba(255, 255, 255, .4);
    }
    /*Making the dropdown for smaller resolution*/
    .small_drop_trigger span{
        font-family: para;
        text-transform: uppercase;
        color:white;
        font-size: small;
    }
    .small_drop_trigger{
        height:100%;
        align-content: center;
    }
    .small_drop_content a{
        text-decoration: none;
        color:white;
        display: block;
        padding:10px;
        font-size:10px;
    }
    .small_drop_content{
        min-width: 100%;
        display:none;
        position: absolute;
        top:25px;
        z-index: 1; 
        background: rgb(40,39,39);
        box-shadow:0 8px 16px 0;
    }
    .small_drop_trigger{
        cursor:pointer;
        position: relative;
        
    }
    .small_drop_trigger:hover .small_drop_content{
        display: block;
    }
    .small_drop_content a:hover{
        background: rgba(255,255,255,.4);
    }
    
}

@media screen and (max-width:710px){
    .small_nav li{
        font-size: smaller;
    }
}
@media screen and (max-width:431px){ /*iPhone 14*/
    .foot_logo{
        max-width:100px;
        max-height: 60px;
    }
    .foot_banner{
        max-height: 180px;
    }
    .foot_content>.faq{
        font-size: 10px; 
        max-width: 200px;
        max-height:100px;        
        margin: 0;
        position: relative;
        left: 120px;
    }
    .foot_banner>.foot_content>.socials{        
        position: relative;
        top:90px;
        right: 250px;
        display: flex;
    }
    .foot_banner>.foot_content>.socials p{
        display: none;
    }
    .foot_banner>.address{
        display: none;
    }
    .foot_banner>.copyright{
        position: relative;
        top: 65px;
    }
}
@media screen and (max-width:391px){/*iPhone 12*/
    .foot_banner>.foot_content>.socials{
        position: relative;
        top:90px;
        right: 220px;
        display: flex;
    }
}
@media screen and (max-width:380px){/*iPhone SE*/
    .foot_banner>.foot_content>.socials{
        position: relative;
        top:100px;
        right: 200px;
    }
    .foot_banner>.copyright{
        position: relative;
        top: 50px;
    }
}
@media screen and (max-width:345px) {
    .foot_banner>.foot_content>.socials{
        position: relative;
        top:100px;
        right: 180px;
    }
}

@media screen and (max-width:431px){ /*iPhone 14*/
    .foot_logo{
        max-width:100px;
        max-height: 60px;
    }
    .foot_banner{
        max-height: 180px;
    }
    .foot_content>.faq{
        font-size: 10px; 
        max-width: 200px;
        max-height:100px;        
        margin: 0;
        position: relative;
        left: 120px;
    }
    .foot_banner>.foot_content>.socials{        
        position: relative;
        top:90px;
        right: 250px;
        display: flex;
    }
    .foot_banner>.foot_content>.socials p{
        display: none;
    }
    .foot_banner>.address{
        display: none;
    }
    .foot_banner>.copyright{
        position: relative;
        top: 65px;
    }
}
@media screen and (max-width:391px){/*iPhone 12*/
    .foot_banner>.foot_content>.socials{
        position: relative;
        top:90px;
        right: 220px;
        display: flex;
    }
}
@media screen and (max-width:380px){/*iPhone SE*/
    .foot_banner>.foot_content>.socials{
        position: relative;
        top:100px;
        right: 200px;
    }
    .foot_banner>.copyright{
        position: relative;
        top: 50px;
    }
}
@media screen and (max-width:345px) {
    .foot_banner>.foot_content>.socials{
        position: relative;
        top:100px;
        right: 180px;
    }
}
/*footer stylings*/
.foot_banner{
    width:100%;
    height:270px;
    background:rgb(22,22,74);
    margin-left:0px;
    border-top:2px solid black;
    
}
.foot_content{
    display:grid;
    display:flex;
    grid-template-columns:auto auto auto;
    justify-content: space-between;
    margin-left:0px;
}
.foot_logo{
    width:200px;
    height:75px;
}

.foot_content p{
    width:40%;
    color: white;
    font-size:15px;
    margin-left:0;
    font-family: footer_text;
}

/*social grid placement*/
.socials{
    display:grid;
    grid-template-columns: auto auto;    
    gap:10px;
    margin-top:5px;
}
.socials img{
    width:30px;
    height:30px;
}
.socials a{
    text-decoration: none;
    color:white;
}
.socials a:hover{
    color:lime;
}
.img1{
    grid-row:1/2;
    grid-column:1/2 ;
}
.img2{
    grid-row:2/3;
    grid-column: 1/2;
}
.img3{
    grid-row:3/4;
    grid-column: 1/2;
}
.para1{
    grid-row: 1/2;
    grid-column: 2/3;
}
.para2{
    grid-row:2/3;
    grid-column:2/3;
}
.para3{
    grid-row:3/4;
    grid-column:2/3;
}
/*placing the address*/
.address{
    display:grid;
    grid-template-columns:20px auto;
    gap:10px;
    margin-top:15px;    
}
.building{
    width:40px;
    height:50px;
    margin-left:20px;
}
.work{
    font-size:15px;
    font-family:footer_text ;
}
/*Placing the copyright message*/
.copyright{
    width:100%;
    margin-top:5px;
    height:45px;
    align-content: center;
    background-color: rgb(33, 33, 33);
}
.copyright p{
    font-size: 15px;
    color: white;
    text-align: center;
}

/*table styles*/
.summary{
    /* border-color: red; */
    border-collapse:collapse;
}

/*input check style*/
input[type="checkbox"]{
    -webkit-appearance: none;

    cursor: pointer;
    width: 100%;
    position: relative;
}

input[type="checkbox"]:checked::before{
    
    position: absolute;
    content: '';
    
    translate:-5px -20px;
    padding: 10px 5px;
    
    width: 200px;
    height: 290px;
    background-image: conic-gradient(from var(--angle),transparent 20%,lime);

    z-index: -2;
    animation: 3s spin linear infinite;
}

/*animating selecting animation*/
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
        background-image: conic-gradient(lime);
    }
}

/*Heading Stylings*/
h1{
    max-width:100%;
    height:80px;
    align-content:center;
    border-bottom:2px solid rgb(0, 85, 17);
    background:linear-gradient(to right,rgba(1, 99, 4,1),rgba(0,99,4,.8));
    margin-left: 0;
    padding: 10px;
    
}

/*fruit container*/
.fruit-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, 0.104);
    justify-content: center;
    padding: 50px 0;
}
.fruit{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 290px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px; 
    border: 1px solid rgba(0, 0, 0, 0.168);
    transition: all 0.2s linear;
    padding-bottom: 10px;
    
    position: relative;


}


.fruit:hover{
    box-shadow: 2px 2px 5px #00000036, -2px -2px 5px #0000003f;
    transform: translateY(-8px);
    z-index: 1;
}



.f-top{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.f-bottom{
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
}

.fruit img{
    position: relative;
    left: 10px;
    top: -5px;
    /* border-radius: 25px; */
    width: 150px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
}

.fruit>.f-bottom p{
    font-size: 12px;
    color:black;
    margin: auto 50px;
    text-align: center;
    
}
/*vege container*/
.vege-container{
    background-color: rgba(128, 128, 128, 0.104);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 50px 0;
    
}
.v-top{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);

}
.v-bottom{
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
}

.veg{
    background-color: white;
    /* border-radius: 25px; */
    border: 1px solid rgba(0, 0, 0, 0.168);
    width: 200px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    transition: all 0.2s linear;
    padding-bottom: 10px;
}


.veg:hover{
    box-shadow: 2px 2px 5px #00000036, -2px -2px 5px #0000003f;
    transform: translateY(-5px);
}


.veg img{
    position: relative;
    left: 20px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    
}
.veg>.v-bottom p{
    
    font-size: 12px;
    color:black;
    margin: auto 50px;
    text-align: center;
}

/*dairy container*/
.dairy-container{
    background-color: rgba(128, 128, 128, 0.104);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 50px 0;
    
}
.dairy{
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 290px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px; 
    border: 1px solid rgba(0, 0, 0, 0.168);
    transition: all 0.2s linear;
}


.dairy:hover{
    box-shadow: 2px 2px 5px #00000036, -2px -2px 5px #0000003f;
    transform: translateY(-5px);
}

.d-top{
    width: 100%;
    background-color: rgba(255, 255, 255, 1);

}
.d-bottom{
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
}
.dairy img{
    position: relative;
    left: 10px;
    top: -5px;
    /* border-radius: 25px; */
    width: 150px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
    
}
.dairy>.d-bottom p{
    font-size: 12px;
    color:black;
    margin: auto 50px;
    text-align: center;
}

/*meat container*/
.meat-container{
    background-color: rgba(128, 128, 128, 0.104);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 50px 0;
}
.m-top{
    width: 100%;
    
    background-color: rgba(255, 255, 255, 1);
    /* border-radius: 25px 25px 0 0; */
}
.m-bottom{
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
}
.meat>.m-bottom p{
    font-size: 12px;
    color:black;
    margin: 3px 50px;
    text-align: center;
}


.meat{
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 290px;
    /* border-radius: 25px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px; 
    border: 1px solid rgba(0, 0, 0, 0.168);
    transition: all 0.2s linear;
    padding-bottom: 10px;

}



.meat:hover{
    box-shadow: 2px 2px 5px #00000036, -2px -2px 5px #0000003f;
    transform: translateY(-5px);
}
.meat img{
    position: relative;
    left: 10px;
    top: -5px;
    /* border-radius: 25px; */
    width: 150px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
}


/*baked container*/
.baked-container{
    background-color: rgba(128, 128, 128, 0.076);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 50px 0;
}

.b-top{
    width: 100%;
    
    background-color: rgba(255, 255, 255, 1);
    
}

.b-bottom{
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
}

.baked{
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 290px;
    /* border-radius: 25px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px; 
    border: 1px solid rgba(0, 0, 0, 0.168);
    transition: all 0.1s linear;
    padding-bottom: 10px;
}



.baked:hover{
    box-shadow: 2px 2px 5px #00000036, -2px -2px 5px #0000003f;
    transform: translateY(-5px);
}
.baked img{
    position: relative;
    left: 10px;
    top: -5px;
    border-radius: 25px;
    width: 150px;
    height: 150px;
    padding: 10px;
    cursor: pointer;
}


.baked>.b-bottom p{
    font-size: 12px;
    color:black;
    margin: 3px 50px;
    text-align: center;
}

/*Table Styling*/
table{
    border-collapse: collapse;
    border: 2px solid black;
    background-color: white;

}

.table-container{
    display: flex;
    justify-content: center;
}
table td{
    padding:5px ;
}
table th{
    padding:10px ;
    background-color:#494ef2;
    color:white;
    text-transform: uppercase;
}

#head{
    background-color: rgba(0, 0, 255, 0.507);
    border: 1px solid black;
    
}
#fruitHead{
    padding:10px ;
    background-color:#494ef2;
    color:white;
    text-transform: uppercase;
    border: 1px solid black;
}
#vegHead{
    padding:10px ;
    background-color:#494ef2;
    color:white;
    text-transform: uppercase;
    border: 1px solid black;
}
#dairyHead{
    padding:10px ;
    background-color:#494ef2;
    color:white;
    text-transform: uppercase;
}
#meatHead{
    padding:10px ;
    background-color:#494ef2;
    color:white;
    text-transform: uppercase;
}
#bakedHead{
    padding:10px ;
    background-color:#494ef2;
    color:white;
    text-transform: uppercase;
}
#output{
    background-color: #494ff261;
    border: 1px solid black;
}

.table-container{
    background-color: rgba(0, 255, 255, 0.108);
    width: 100%;
    padding-top:60px ;
    padding-bottom:60px ;

    /* height: 500px; */
    height: auto;
    align-items: center;
}
.controls{
    align-items: center;
}
.controls button{
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    /* border: none; */
    background: #fff;
    margin-left:15px;
}
.controls button:hover{
    box-shadow: 2px 2px 5px #00000036, -2px -2px 5px #0000003f;
    transform: translateY(-5px);
}


.controls a{
    text-decoration: none;
    color: black;
    padding: 12px 18px;
    
}

.controls{
    background-color: rgba(0,255,255,0.287);
    display: flex;
    justify-content: center;
    height: 100px;
}
